# Database Connections
MONGO_URI = MONGO_URI
MONGO_URI_NOSRV= MONGO_URI_NOSRV
REDIS_URL=REDIS_URL

# Server Config
PORT=SERVER_PORT
CLIENT_URL=CLIENT_URL
STOCKFISH_API_URL=STOCKFISH_API_URL


# Authentication
JWT_SECRET=RANDOM_64BIT_TOKEN
JWT_EXPIRES_IN="7d"

